:root {
    --text-color: rgb(223, 145, 0);
    --border-visible: rgba(223, 145, 0, 1);
    --border-invisible: rgba(223, 145, 0, 0);
}
body.dark * {
    color: var(--text-color);
}
#toggle-dark-mode {
    box-sizing: content-box;
    position: relative;
    width: 45px;
    height: 22px;
    border: black solid 2px;
    border-radius: 20px;
    background-color: white;
    transition: all .4s ease-in-out;
}
#toggle-dark-mode:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: black;
    transition: all .4s ease-in-out;
}
#toggle-dark-mode.active:before {
    left: 24px;
    background: var(--text-color);
}
#toggle-dark-mode.active {
    background-color: #08090A;
    border: var(--text-color) solid 2px;
}
#toggle-dark-mode:hover {
    cursor: pointer;
}

body.dark .bg-image {
    background-blend-mode: darken;
}


/* Register */
body.dark .register-container {
    background-color: #18191A;
}
body.dark .register-container input {
    background-color: #2A2B2C;
    /*color: rgb(226, 226, 226);*/
}
body.dark .register-container #submit:hover {
    background-color: #08090A;
    color: var(--text-color);
}
body.dark .register-container #reset:hover {
    background-color: #08090A;
    color: var(--text-color);
}
body.dark .register-container #submit:focus {
    background-color: #08090A;
    color: var(--text-color);
}
body.dark .register-container #reset:focus {
    background-color: #08090A;
    color: var(--text-color);
}
body.dark .register-container #submit:active {
    background-color: #020304;
    color: var(--text-color);
}
body.dark .register-container #reset:active {
    background-color: #020304;
    color: var(--text-color);
}
body.dark #login {
    color: orange;
    font-size: 1.2em;
    border-bottom: rgba(255, 165, 0, 0) solid 2px;
    transition: all 0.2s ease-in-out;
}
body.dark #login:link {
    text-decoration: none;
    color: orange;
}
body.dark #login:visited {
    text-decoration: none;
    color: orange;
}
body.dark #login:hover {
    cursor: pointer;
    border-bottom: rgba(225, 165, 0, 1) solid 2px;
}


/* Login */
body.dark .login-container {
    background-color: #18191A;
}
body.dark .login-container input {
    background-color: #2A2B2C;
}
body.dark .login-container #submit:hover {
    background-color: #08090A;
    color: var(--text-color);
}
body.dark .login-container #submit:focus {
    background-color: #08090A;
    color: var(--text-color);
}
body.dark .login-container #submit:active {
    background-color: #020304;
    color: var(--text-color);
}


/* Word Counter */
body.dark .text-container {
    background-color: #18191A;
}
body.dark .text-container textarea {
    background-color: #2A2B2C;
    color: var(--text-color);
    border: #58595A solid 1px;
}
body.dark .counter-output {
    background-color: #28292A;
    border: #58595A solid 1px;
}


/* Impressum */
body.dark {
    background-color: #18191A;
}
body.dark .logo h3 {
    color: white;
}
body.dark .nav-links a {
    color: var(--text-color);
}
body.dark a {
    color: rgb(226, 226, 226);
}
body.dark #disclaimer p a {
    color: rgb(226, 226, 226);
}
body.dark #impressum-footer {
    background-color: #28292A;
}
body.dark #impressum-footer p {
    color: rgb(226, 226, 226);
}