.register-container {
    z-index: 10;
    position: absolute;
    min-width: 500px;
    width: 20%;
    min-height: 30em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    padding-top: 1em;
    padding-bottom: 1em;
}
.register-container input {
    padding-left: 10px;
    margin: .5em;
    width: 80%;
    font-size: 1.2em;
    line-height: 2em;
    outline: none;
    border: black solid 2px;
    border-radius: 7px;
    box-shadow: 2px 3px 5px black;
}
#reset {
    transition: all 0.2s ease-in-out;
}
#submit {
    transition: all 0.2s ease-in-out;
}

#reset:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}
#submit:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}
#submit:focus {
    background-color: rgb(75, 75, 75);
    color: white;
}
#reset:focus {
    background-color: rgb(75, 75, 75);
    color: white;
}
#submit:active {
    background-color: rgb(45, 45, 45);
    color: white;
}
#reset:active {
    background-color: rgb(45, 45, 45);
    color: white;
}
#error-msg {
    color: red;
    padding: 5px 10%;
}
#error-msg:hover {
    cursor: default;
}
footer {
    position: absolute;
    bottom: 2em;
    left: 3em;
}
footer a {
    color: black;
    font-size: 1.2em;
    border-bottom: #00000000 solid 2px;
    transition: all 0.2s ease-in-out;
}
footer a:link {
    text-decoration: none;
    color: black;
}
footer a:visited {
    text-decoration: none;
    color: black;
}
footer a:hover {
    cursor: pointer;
    border-bottom: #000000FF solid 2px;
}

/* Smartphones -> max-width: 640px */
@media only screen and (max-width: 40em) {
    .register-container {
        width: 100vw;
        border-radius: 0px;
        box-shadow: none;
        transform: translate(-50%, 0%);
        top: 300px;
    }
    footer {
        display: none;
    }
}

/* Tablets Landscape -> 640px - 1024px */
@media only screen and (min-width: 40em) and (max-width: 64em) and (orientation: landscape) {
    .register-container {
        transform: translate(-50%, 0%);
        top: 150px;
        border-radius: 0px;
        box-shadow: none;
        width: 100vw;
    }
    .logo h3 {
        margin-left: 1em;
    }
    footer {
        display: none;
    }
}

/* Tablets Portrait -> 640px - 1024px */
@media only screen and (min-width: 40em) and (max-width: 64em) and (orientation: portrait) {
    .register-container {
        transform: translate(-50%, 0%);
        top: 200px;
        border-radius: 0px;
        box-shadow: none;
        width: 100vw;
    }
    footer {
        display: none;
    }
}