
.login-container {
    z-index: 10;
    position: absolute;
    min-width: 500px;
    width: 20%;
    min-height: 20em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*border: rgb(5, 5, 5) solid 1px;*/
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}
.login-container input {
    padding-left: 10px;
    margin: .5em;
    width: 80%;
    font-size: 1.2em;
    line-height: 2em;
    outline: none;
    border: black solid 2px;
    border-radius: 7px;
    box-shadow: 2px 3px 5px black;
}
.login-container p#input_detail {
    position: absolute;
    top: 3em;
    left: 10%;
}
.login-container p#register {
    text-transform: lowercase;
    position: absolute;
    bottom: 20px;
}
#submit {
    transition: all 0.2s ease-in-out;
}
#submit:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}
#register a {
    text-decoration: none;
    color: rgb(56, 56, 255);
    border-bottom:rgba(56, 56, 255, 0) solid 2px;
    transition: all 0.2s ease-in-out;
}
#register a:link {
    text-decoration: none;
    color:rgb(56, 56, 255);
}
#register a:visited {
    text-decoration: none;
    color:rgb(56, 56, 255);
}
#register a:hover {
    border-bottom:rgba(56, 56, 255, 1) solid 2px;
    cursor: pointer;
}